#p1{
    color: blue;
}

.class2{
    color: orange;
}

.list ul{
    color: blue;
}

.h2{
    color: rgb(54, 85, 143);
    background-color: rgb(158, 185, 235);
}
.span1{
    color: cornflowerblue;
}